<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <nav class='navbar navbar-inverse'>
    <div class='container-fluid'>

    </div>
  </nav>
  <div class="container">
    <div style="float:left; width: 50%">
      <div class="panel panel-default">
        <div class="panel-heading">Registration</div>
        <div class="panel-body">
          <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-12">
                <label for="name">Username</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="UserDetailModel.username" maxlength="50" (blur)="CheckUsernameExist()" #refUsername="ngModel" id="username" required>
                <div *ngIf="!refUsername.valid  && (refUsername.dirty || refUsername.touched)"
                     class="alert alert-danger">
                  <div [hidden]="!refUsername.errors.required">
                    Username is required
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="name">Password</label>
                <input required type="password"
                       class="form-control"
                       name="password"
                       maxlength="20"
                       #refpassword="ngModel"
                       [(ngModel)]="UserDetailModel.password"
                       validateEqual="confirmPassword" reverse="true">
                <div *ngIf="!refpassword.valid  && (refpassword.dirty || refpassword.touched)"
                     class="alert alert-danger">
                  <div [hidden]="!refpassword.errors.required">
                    Password is required
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="name">Confirm Password</label>
                <input type="password"
                       #refconfirmPassword="ngModel"
                       class="form-control"
                       maxlength="20"
                       name="confirmPassword"
                       [ngModel]="UserDetailModel.confirmPassword"
                       required
                       validateEqual="password">
                <div class="alert alert-danger" [hidden]="refconfirmPassword.valid || (refconfirmPassword.pristine)">
                  Password mismatch
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="name">FirstName</label>
                <input type="text" class="form-control" name="firstName" maxlength="50" [(ngModel)]="UserDetailModel.firstName" #refAddress="ngModel" id="firstName" required>
                <div *ngIf="!refAddress.valid  && (refAddress.dirty || refAddress.touched)"
                     class="alert alert-danger">
                  <div [hidden]="!refAddress.errors.required">
                    Address is required
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="name">LastName</label>
                <input type="text" class="form-control" name="LastName" maxlength="50" [(ngModel)]="UserDetailModel.lastName" #refAddress="ngModel" id="lastName" required>
                <div *ngIf="!refAddress.valid  && (refAddress.dirty || refAddress.touched)"
                     class="alert alert-danger">
                  <div [hidden]="!refAddress.errors.required">
                    Address is required
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="name">Address</label>
                <input type="text" class="form-control" name="address" maxlength="50" [(ngModel)]="UserDetailModel.address" #refAddress="ngModel" id="address" required>
                <div *ngIf="!refAddress.valid  && (refAddress.dirty || refAddress.touched)"
                     class="alert alert-danger">
                  <div [hidden]="!refAddress.errors.required">
                    Address is required
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="name">Weight</label>
                <input type="number" class="form-control" name="weight" maxlength="50" [(ngModel)]="UserDetailModel.weight" #refAddress="ngModel" id="weight" required>
                <div *ngIf="!refAddress.valid  && (refAddress.dirty || refAddress.touched)"
                     class="alert alert-danger">
                  <div [hidden]="!refAddress.errors.required">
                    Address is required
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="name">Contact No</label>
                <input type="text" class="form-control" name="contact_No" maxlength="10" [(ngModel)]="UserDetailModel.contact_No" pattern="^\d+$" #refContact_No="ngModel" id="contact_No" required>
                <div *ngIf="!refContact_No.valid  && (refContact_No.dirty || refContact_No.touched)"
                     class="alert alert-danger">
                  <div [hidden]="refContact_No.valid || (refContact_No.pristine)">
                    Only Numbers are allowed
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="name">Email</label>
                <input type="text" class="form-control" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="UserDetailModel.email" #refEmail="ngModel" id="email" required>
                <div *ngIf="!refEmail.valid  && (refEmail.dirty || refEmail.touched)"
                     class="alert alert-danger">
                  <div [hidden]="refEmail.valid || (refEmail.pristine)">
                    Email is required and format should be <i>saineshwar@bageri.com</i>.
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div style="margin-top:10px;" class="col-md-12">
                <button type="submit" [disabled]="!f.form.valid" class="btn btn-success">Submit</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div style="float:right; width: 50%;">
      <div style="margin-left: 63px;margin-top: 60px;">
        Already Registered ? <a class="btn btn-success" style="align-content:center" [routerLink]="['/Login']">Login here..</a>
        <br />
        <br />
        <!--<css-carousel></css-carousel>-->
        <br />
        <br />
      </div>
    </div>
  </div>
  <nav class='navbar navbar-inverse'>
    <div class='container-fluid'>

    </div>
  </nav>
</body>
</html>
